body {
  font-family: optima, sans-serif;
  user-select: none;
}

.selected {
/*  fill:darkorange;
    stroke:darkorange;*/
	fill: #467E25;
	stroke: #467E25;
}

.selectable-score-nextPageButton , .scoreScrollButton ,
.selectable-score-prevPageButton ,
.selectable-score-postButton , .annotationButton
{
	background-color: #e4e4e4;
	border-radius: 4px;
	border: 1px solid #00000040;
	display:inline-block;
	white-space: nowrap;
  padding: 1px 6px;
	margin-right: -1px;
	font-weight: bold;
}
.selectable-score-nextPageButton {
  border-radius: 0 4px 4px 0;
}
.selectable-score-prevPageButton {
  border-radius: 4px 0 0 4px;
}
.metadata .scrollableScore {
	width: 80%;
	overflow-x: scroll;
}
.noDetails .scrollableScore {
	width: 95%;
	overflow-x: scroll;
}
.selectable-score-postButton.disabled
{
	text-color: lightgray;
}
.annotationButton {
	font-weight: normal;
	font-family:  optima, sans-serif;
	color: #420A39;
	font-size: 14px;
	line-height: 1;
	padding: 8px 16px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
	margin: 0px 16px;
}

.selectable-score-nextPageButton:hover ,
.selectable-score-prevPageButton:hover ,
.annotationButton:hover {
	background-color: #a5dc86;
}

/* Derived from https://thestizmedia.com/radio-buttons-as-toggle-buttons-with-css/ */

.switch-field {
  display: inline-flex;
  margin-bottom: 36px;
	margin-left: 8px;
  /* overflow: hidden; */
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
	/*  color: rgba(0, 0, 0, 0.6);*/
	color: #420A39;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #a5dc86;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
h4 {
	display: inline-block;
	color: #420A39;
}
footer {
	color: #420A39;
	float: right;
	font-size: 80%;
}
button.logout:hover {
	background-color: #a5dc86;
	border-radius: 4px;
	box-shadow: none;
}
button.logout {
	/* color: rgba(0,0,0,0.6); */
	font-size: 80%;
	margin-left: 8px;
}
button.addPane {
  background-color: #e4e4e4;
}
button.workInfo {
  background-color: #e4e4e4;
  font-family:  optima, sans-serif;
  border-radius: 4px;
  border: 1px solid #00000040;
  display:inline-block;
  white-space: nowrap;
  padding: 1px 6px;
  margin-right: 2px;
  margin-top: 20px;
  margin-bottom: 6px;
  font-weight: normal;
  float: left;
}

.pane aside{
	display: inline-block;
	height: 100%;
	overflow: hidden;
	font-size: 80%;
}
aside.noDetails {
	width: 0px;
	/* transition: 0.5s; */
	color: white;
	font-size: 1%;
}
aside.metadata {
	width: 20%;
	transition: 0.5s;
}
aside dl div {
	display: flex;
	flex-flow: row wrap;
	margin: 0;
}
dt {
	flex-basis: 20%;
	font-weight: bold;
	text-align: right;
}
dd{
	flex-basis: 70%;
	flex-grow: 1;
	margin: 2px 8px;
}


/* aside dl { */
/* 	margin: 0; */
/* } */
/* aside dd, aside dt, .music.pane .main { */
/* 	display: inline-block; */
/* } */
/* aside dd { */
/* 	font-weight: bold; */
/* } */
.music.pane {
	overflow: hidden;
	max-height: 350px;
	display: flex;
}
.music.pane .main.noDetails {
	width: 100%;
	transition: 0;
}
.music.pane .main.metadata {
	width: 80%;
	transition: 0.5s;
}
.pane .controllbar {
	display: grid;
	grid-template-columns: 1fr 1fr 200px;
}
.metadata .controllbar {
	width: 98%;
}
.noDetails .controllbar {
	width: 98%;
}
.controllbar .rightControls {
	display: inline-block;
	padding: 0 8px;
}
.showDetails {
}
.scorepane {
	margin-top: 0;
}
/* versionListing pane */
.listing dl div {
	display: inline-flex;
}
.listing:nth-child(2n+1){
	background-color: #e4e4e4;
	display: flex;
	flex-wrap: wrap;
}
.listing{
	margin: 4px 0;
	padding: 4px;
}
.listing dd, .listing dt {
	margin: 2px 0;
	padding: 2px 4px;
	white-space: nowrap;
}
.materialLine {
	stroke-width: 5px;
	stroke-linecap: round;
}
.materialLine.line-0{
	stroke: #467E25;
}
.materialLine.line-1{
	stroke: #8E4625;
}

.backButton1 {
  	font-family:  optima, sans-serif;
  	background-color: #4FC3F7;
    border-radius: 4px;
  	border: 1px solid #00000040;
  	display:inline-block;
  	white-space: nowrap;
    padding: 1px 6px;
  	margin-right: 2px;
  	font-weight: bold;
}
.replaceButton {
  	font-family:  optima, sans-serif;
    background-color: #F3CED6;
    border-radius: 4px;
    border: 1px solid #00000040;
    display:inline-block;
    white-space: nowrap;
    padding: 1px 6px;

    margin-right: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight: normal;
    float: left;
}
.addPane {
  display:inline-block;
  margin-left: 8px;
}

.workHeader {
}
.loadingIndicator {
    display:inline-block;
    vertical-align: middle;
    padding: 8px;
}
.authButton  {
  display:inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.workPopupdl div {
	display: inline-flex;
}

.popup-content {
  margin:auto;
  background:#fff;
  width:50%;
  padding:5px;
  border:1px solid #d7d7d7
}
[role=tooltip].popup-content {
  width:200px;box-shadow:0 0 3px rgba(0,0,0,.16);
  border-radius:5px
}
.popup-overlay {
  background:rgba(0,0,0,.5)
}
[data-popup=tooltip].popup-overlay  {
  background:transparent
}
.popup-arrow  {
  -webkit-filter:drop-shadow(0 -3px 3px rgba(0,0,0,.16));
  filter:drop-shadow(0 -3px 3px rgba(0,0,0,.16));
  color:#fff;
  stroke-width:2px;stroke:#d7d7d7;
  stroke-dasharray:30px;
  stroke-dashoffset:-54px;
  left:0;right:0;top:0;bottom:0
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
